*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #107DC0;
    text-align: center;
    color: #FFFFFF;
}

.title{
    font-size: 26px;
}
section{
   /* color: #FFD521; */
    padding: 20px;
    background-image: url('../img/The_Simpsons_1593228758.webp');
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #107DC0BB;
    padding: 20px;
    float: right;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 10px;
}
input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: #107DC0;
    background-color: #FFD521;
    font-weight: bold;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../img/icons8-chevron-down-26.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}
.pic{
    width: 160px;
}
.discription{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 60px;
    margin-left: 40px;
    max-width: 620px;
    padding: 20px;
    float: none;
}
.discription p, .discription h3{
    margin-bottom: 20px;
}